html{
    background: #0a0c1b;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'railway', sans-serif;
}

.mainnav{
    margin: 15px 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    height: 100%;
}

.mainnav .navi button{
    box-shadow: 0px 4px 8px 0px rgba(104, 34, 206, 0.6);
    font-family: 'railway', sans-serif;
    padding: 5px 10px;
    background: linear-gradient(150deg, #451ded, #8e0ce3);
    border-radius: 10px;
    cursor: pointer;
    border-color: #8e0ce3;
}

.mainnav .navi a{
    color: #fcfcfb;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.5 ease-in-out;
}

.mainnav .navi a:hover{
    border-bottom: 2px solid #8e0ce3;
}


.mainnav .imgnav img{
    width: 125px;
    height: 125px;
    transition: transform .5s ease-in-out;
}
.mainnav .imgnav img:hover {
    transform: rotate(360deg);
    cursor: pointer;
}



/*.header{
    background: linear-gradient(to right bottom, #0a0c1b, #451ded);
}*/
.header, .header2{
    display: flex;
    justify-content: space-between;
    color: #fcfcfb;
    margin-top: 50px;
    height: 50vh;
    align-items: center;
}

.header2{flex-direction: row-reverse;}

.header .head, .header2 .head2{
    width: 75%;
    margin: 15px 25px 10px;
    margin-left: 50px;
    color: #fcfcfb;
    text-align: center;
}

.header .head h1, .header2 .head2 h1{
    letter-spacing: 1.5px;
}

.header .head p, .header2 .head2 p{
    letter-spacing: 1px;
    line-height: 35px;
    width: 100%;
}

.header .head button, .header2 .head2 button{
    box-shadow: 0px 4px 8px 0px rgba(104, 34, 206, 0.6);
    font-family: 'railway', sans-serif;
    padding: 5px 10px;
    background: linear-gradient(150deg, #451ded, #8e0ce3);
    border-radius: 10px;
    cursor: pointer;
    border-color: #8e0ce3;
}

.header .head a, .header2 .head2 a{
    color: #fcfcfb;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;;
}

.header .headimg img, .header2 .headimg2 img{
    width: 600px;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 15px 25px 10px;
    margin-right: 35px;
}

.header2 .headimg2 iframe{margin-left: 35px;}

.functional, .functional2{
    margin-top: 50px;
    color: #fcfcfb;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    text-align: center;
/*    width: 80%;
    margin: 0 auto;*/
}

.functional{
    background: linear-gradient(-20deg, #3d59ab,#0a0c1b);
}
.functional2{
    background: linear-gradient(-200deg, #3d59ab,#0a0c1b); 
}

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.f{
    width: 300px;
    height: 180px;
    text-align: center;
    padding: 10px 10px;
    box-shadow: 0 8px 16px 0 rgba(14, 16, 33, 0.7), /* Inner darker shadow */
                0 4px 8px 0 rgba(27, 30, 49, 0.5); /* Outer lighter shadow */
    margin: 20px 20px 50px 20px;
    border-radius: 10px;
}
.f:hover{
    border: 2px solid #fcfcfb;
}


footer {
    background: linear-gradient(180deg, #1b1e31, #0e1021);
    color: #fcfcfb;
    padding: 20px 0;
    font-family: 'railway', sans-serif;
    margin-top: 100px;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    flex-direction: column;
}

.socialIcons{margin-bottom: 30px;}

.socialIcons a {
    color: #fcfcfb;
    margin: 0 15px;
    font-size: 24px; /* Adjust the size of the icons as needed */
    transition: color 0.3s ease;
}

.socialIcons a:hover {
    color: #8e0ce3; /* Highlight color when hovering over icons */
}

.footerNav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footerNav ul li {
    margin: 0 10px;
}

.footerNav ul li a {
    color: #fcfcfb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footerNav ul li a:hover {
    color: #8e0ce3; /* Highlight color when hovering over links */
}

.footerBottom {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.designerfooter {
    color: #8e0ce3;
    font-weight: bold;
}

/* Optional: Clearfix for the footer in case of floating elements */
footer::after {
    content: "";
    display: table;
    clear: both;
}

.navigation{
    border-bottom: 2px solid #ffffff;
}
.navigation:hover{
    border-bottom: 2px solid #8e0ce3;
}

.otherbutton{
    color: #fcfcfb;
    margin: 10px;
    box-shadow: 0px 4px 8px 0px rgba(104, 34, 206, 0.6);
    font-family: 'railway', sans-serif;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    background: linear-gradient(150deg, #451ded, #8e0ce3);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border-color: #8e0ce3;
}

.otherbutton:hover{
    color: #fcfcfb;
    margin: 10px;
    box-shadow: 0px 4px 8px 0px rgba(104, 34, 206, 0.6);
    font-family: 'railway', sans-serif;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    background: linear-gradient(150deg, #3414b4, #6309a0);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border-color: #8e0ce3;
}


.inversebutton{
    box-shadow: 0px 4px 8px 0px rgba(243, 236, 255, 0.6);
    font-family: 'railway', sans-serif;
    margin: 10px;
    color: #8e0ce3;
    padding: 10px 20px;
    background: linear-gradient(150deg, #d8ceff, #e5beff);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border-color: white;
}

.inversebutton:hover{
    box-shadow: 0px 4px 8px 0px rgba(194, 189, 204, 0.6);
    font-family: 'railway', sans-serif;
    margin: 10px;
    color: #8e0ce3;
    padding: 10px 20px;
    background: linear-gradient(150deg, #b3abd3, #b494c9);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border-color: white;
}

.header .head button:hover, .header2 .head2 button:hover{
    box-shadow: 0px 4px 8px 0px rgba(104, 34, 206, 0.6);
    font-family: 'railway', sans-serif;
    padding: 5px 10px;
    background: linear-gradient(150deg, #3414b4, #6309a0);
    border-radius: 10px;
    cursor: pointer;
    border-color: #8e0ce3;
}